In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error
from sklearn.impute import KNNImputer
import numpy as np

In [4]:
df=pd.read_csv('../data/weather_report.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1742 entries, 0 to 1741
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PM2.5   1650 non-null   float64
 1   PM10    906 non-null    float64
 2   NO2     1693 non-null   float64
 3   NH3     898 non-null    float64
 4   SO2     1692 non-null   float64
 5   CO      1702 non-null   float64
 6   Ozone   1686 non-null   float64
dtypes: float64(7)
memory usage: 95.4 KB

In [6]:
def f(x):return None if x=='None' else x

In [7]:
l=df.columns

In [8]:
for i in df.columns:df[i]=df[i].apply(f)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1742 entries, 0 to 1741
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PM2.5   1650 non-null   float64
 1   PM10    906 non-null    float64
 2   NO2     1693 non-null   float64
 3   NH3     898 non-null    float64
 4   SO2     1692 non-null   float64
 5   CO      1702 non-null   float64
 6   Ozone   1686 non-null   float64
dtypes: float64(7)
memory usage: 95.4 KB

In [10]:
df.corr()

          PM2.5      PM10       NO2       NH3       SO2        CO     Ozone
PM2.5  1.000000  0.895960  0.177215 -0.182934  0.018991  0.112566  0.127740
PM10   0.895960  1.000000  0.162657 -0.169919  0.052978  0.038273  0.208212
NO2    0.177215  0.162657  1.000000 -0.071005 -0.216665  0.489296  0.080548
NH3   -0.182934 -0.169919 -0.071005  1.000000  0.199430 -0.010073 -0.046104
SO2    0.018991  0.052978 -0.216665  0.199430  1.000000 -0.084187 -0.009619
CO     0.112566  0.038273  0.489296 -0.010073 -0.084187  1.000000  0.073637
Ozone  0.127740  0.208212  0.080548 -0.046104 -0.009619  0.073637  1.000000

In [11]:
x=df[df[l[0]].notnull()]

In [12]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1650 entries, 0 to 1741
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PM2.5   1650 non-null   float64
 1   PM10    869 non-null    float64
 2   NO2     1636 non-null   float64
 3   NH3     854 non-null    float64
 4   SO2     1640 non-null   float64
 5   CO      1650 non-null   float64
 6   Ozone   1628 non-null   float64
dtypes: float64(7)
memory usage: 103.1 KB

In [13]:
x.head(10)

   PM2.5  PM10    NO2  NH3    SO2    CO  Ozone
0  99.25   NaN  17.10  NaN  27.88  0.56  52.69
1  55.64   NaN  17.21  NaN  20.45  0.98  38.29
2  71.49   NaN  17.81  NaN  22.31  1.09  34.55
3  75.06   NaN  17.67  NaN  15.82  0.98  32.50
4  73.29   NaN  18.42  NaN  13.92  1.23  38.51
5  67.10   NaN  16.79  NaN  11.69  0.76  35.15
6  56.17   NaN  17.27  NaN  15.21  0.86  23.03
7  66.49   NaN  18.43  NaN  26.92  0.95  27.76
8  77.11   NaN  16.32  NaN   6.89  0.95  38.19
9  66.07   NaN  17.49  NaN   7.45  0.91  28.64

In [14]:
index_column = x.index.tolist()

In [15]:
n=[i for i in index_column if i%2==0]
n

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 820,
 822,
 824,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998,
 1000,
 1002,
 1004,
 1006,
 1008,
 1010,
 1012,
 1014,
 1022,
 1024,
 1026,
 1028,
 1030,
 1032,
 1034,
 1036,
 1038,
 1040,
 1042,
 1044,
 1046,
 1048,
 1050,
 1052,
 1054,
 1056,
 1058,
 1060,
 1062,
 1064,
 1066,
 1068,
 1070,
 1072,
 1074,
 1076,
 1078,
 1080,
 1082,
 1084,
 1086,
 1088,
 1090,
 1092,
 1094,
 1096,
 1098,
 1100,
 1102,
 1104,
 1106,
 1108,
 1110,
 1112,
 1114,
 1116,
 1118,
 1120,
 1122,
 1124,
 1128,
 1130,
 1132,
 1134,
 1136,
 1138,
 1140,
 1142,
 1144,
 1146,
 1148,
 1150,
 1152,
 1154,
 1156,
 1158,
 1160,
 1162,
 1164,
 1166,
 1168,
 1170,
 1172,
 1174,
 1176,
 1178,
 1180,
 1182,
 1184,
 1186,
 1188,
 1190,
 1194,
 1196,
 1206,
 1208,
 1210,
 1212,
 1214,
 1216,
 1218,
 1220,
 1222,
 1224,
 1226,
 1228,
 1230,
 1232,
 1234,
 1236,
 1238,
 1240,
 1242,
 1246,
 1248,
 1250,
 1252,
 1254,
 1256,
 1258,
 1260,
 1262,
 1264,
 1266,
 1268,
 1270,
 1272,
 1274,
 1276,
 1278,
 1280,
 1282,
 1284,
 1286,
 1288,
 1290,
 1292,
 1294,
 1296,
 1298,
 1300,
 1302,
 1304,
 1306,
 1308,
 1310,
 1312,
 1314,
 1316,
 1318,
 1320,
 1322,
 1324,
 1326,
 1328,
 1330,
 1332,
 1334,
 1336,
 1338,
 1340,
 1342,
 1344,
 1346,
 1348,
 1350,
 1352,
 1354,
 1356,
 1358,
 1360,
 1362,
 1364,
 1366,
 1368,
 1370,
 1372,
 1374,
 1376,
 1378,
 1380,
 1382,
 1384,
 1386,
 1388,
 1390,
 1392,
 1394,
 1396,
 1398,
 1400,
 1402,
 1404,
 1406,
 1408,
 1410,
 1412,
 1414,
 1416,
 1418,
 1420,
 1422,
 1424,
 1426,
 1428,
 1430,
 1432,
 1434,
 1436,
 1438,
 1440,
 1442,
 1444,
 1446,
 1448,
 1450,
 1452,
 1454,
 1456,
 1458,
 1460,
 1462,
 1464,
 1466,
 1468,
 1470,
 1472,
 1474,
 1476,
 1478,
 1480,
 1482,
 1484,
 1486,
 1488,
 1490,
 1492,
 1494,
 1496,
 1498,
 1500,
 1502,
 1504,
 1506,
 1508,
 1510,
 1512,
 1514,
 1516,
 1518,
 1520,
 1522,
 1524,
 1526,
 1528,
 1530,
 1532,
 1534,
 1536,
 1538,
 1540,
 1542,
 1544,
 1546,
 1548,
 1556,
 1558,
 1560,
 1562,
 1564,
 1566,
 1568,
 1570,
 1572,
 1574,
 1576,
 1578,
 1580,
 1582,
 1584,
 1586,
 1588,
 1596,
 1598,
 1600,
 1602,
 1604,
 1606,
 1608,
 1610,
 1612,
 1614,
 1616,
 1618,
 1620,
 1622,
 1624,
 1626,
 1628,
 1630,
 1632,
 1634,
 1636,
 1638,
 1640,
 1642,
 1644,
 1646,
 1648,
 1650,
 1652,
 1654,
 1656,
 1658,
 1660,
 1662,
 1664,
 1666,
 1668,
 1670,
 1672,
 1674,
 1676,
 1678,
 1680,
 1682,
 1684,
 1686,
 1688,
 1690,
 1692,
 1716,
 1726,
 1728,
 1730,
 1732,
 1734,
 1736,
 1738,
 1740]

In [16]:
try:
    l=[df['PM2.5'].iloc[i] for i in n]
except IndexError:
    print(i)

In [17]:
x_new=pd.DataFrame(l,n,['PM2.5'])

In [18]:
x_new

      PM2.5
0     99.25
2     71.49
4     73.29
6     56.17
8     77.11
...     ...
1732  13.05
1734   9.25
1736  14.35
1738  12.82
1740  17.53

[826 rows x 1 columns]

In [19]:
x_i=x['PM2.5'].replace(l,None)

In [20]:
x['PM2.5']=x_i

C:\Users\nikja\AppData\Local\Temp\ipykernel_7660\4091298445.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['PM2.5']=x_i

In [21]:
x

      PM2.5   PM10    NO2    NH3    SO2    CO  Ozone
0      None    NaN  17.10    NaN  27.88  0.56  52.69
1     55.64    NaN  17.21    NaN  20.45  0.98  38.29
2      None    NaN  17.81    NaN  22.31  1.09  34.55
3     75.06    NaN  17.67    NaN  15.82  0.98  32.50
4      None    NaN  18.42    NaN  13.92  1.23  38.51
...     ...    ...    ...    ...    ...   ...    ...
1737  16.01  41.53  72.40  16.07   3.90  0.80  12.13
1738   None  35.70  70.80  12.95   4.69  0.82  12.29
1739  14.93  39.56  87.74  14.82   4.45  1.08  12.29
1740   None  44.32  54.21  17.24   4.88  1.06  10.39
1741  16.87  43.11  37.91  19.79   2.07  1.61   4.60

[1650 rows x 7 columns]

In [22]:
k=KNNImputer(n_neighbors=4)

In [23]:
x_pred=k.fit_transform(x)

In [24]:
df1=pd.DataFrame(x_pred,x.index,x.columns)

In [25]:
df1

        PM2.5     PM10    NO2      NH3    SO2    CO  Ozone
0     51.3850  67.5325  17.10  22.9800  27.88  0.56  52.69
1     55.6400  72.3925  17.21  15.7525  20.45  0.98  38.29
2     55.3750  62.2200  17.81  16.1700  22.31  1.09  34.55
3     75.0600  71.4650  17.67  23.0700  15.82  0.98  32.50
4     37.8375  87.8125  18.42  23.0125  13.92  1.23  38.51
...       ...      ...    ...      ...    ...   ...    ...
1737  16.0100  41.5300  72.40  16.0700   3.90  0.80  12.13
1738  15.6800  35.7000  70.80  12.9500   4.69  0.82  12.29
1739  14.9300  39.5600  87.74  14.8200   4.45  1.08  12.29
1740  25.1875  44.3200  54.21  17.2400   4.88  1.06  10.39
1741  16.8700  43.1100  37.91  19.7900   2.07  1.61   4.60

[1650 rows x 7 columns]

In [26]:
r=df1[df1.index%2==0]['PM2.5']
r

0       51.3850
2       55.3750
4       37.8375
6       51.8000
8       55.3550
         ...
1732    15.1600
1734    15.1600
1736    15.4300
1738    15.6800
1740    25.1875
Name: PM2.5, Length: 826, dtype: float64

In [27]:
r.tolist()

[51.385000000000005,
 55.375,
 37.8375,
 51.8,
 55.355000000000004,
 21.8875,
 30.44,
 52.2675,
 40.352500000000006,
 44.645,
 43.05,
 34.947500000000005,
 20.275,
 18.6875,
 20.725,
 47.8125,
 39.4675,
 38.0125,
 50.5925,
 63.150000000000006,
 29.6575,
 20.1475,
 37.3725,
 74.7225,
 32.735,
 34.9525,
 40.822500000000005,
 43.05,
 156.845,
 41.975,
 40.0275,
 30.5075,
 74.5475,
 74.7225,
 21.645,
 38.195,
 53.04750000000001,
 33.4375,
 29.0575,
 20.610000000000003,
 49.67999999999999,
 27.924999999999997,
 32.375,
 30.192500000000003,
 42.5125,
 30.237499999999997,
 35.545,
 19.445,
 21.165,
 36.9525,
 34.4175,
 37.1525,
 27.924999999999997,
 26.347499999999997,
 27.575000000000003,
 30.384999999999998,
 26.28,
 34.0925,
 8.82,
 30.582500000000003,
 21.515,
 28.4525,
 36.1375,
 23.770000000000003,
 22.8125,
 18.222499999999997,
 21.1175,
 19.33,
 23.822499999999998,
 17.7375,
 17.485,
 34.3825,
 19.6425,
 16.87,
 20.7625,
 40.6275,
 50.317499999999995,
 25.582499999999996,
 20.935000000000002,
 54.0275,
 21.9625,
 32.28,
 23.7,
 24.650000000000002,
 28.91,
 25.19,
 30.314999999999998,
 27.925,
 19.697499999999998,
 26.79,
 24.505,
 36.865,
 33.93,
 63.13250000000001,
 43.35249999999999,
 42.5175,
 25.1325,
 24.3725,
 26.4525,
 28.93,
 29.792499999999997,
 26.905,
 36.864999999999995,
 31.747500000000002,
 54.345,
 30.5125,
 25.384999999999998,
 22.415000000000003,
 32.227500000000006,
 46.7175,
 43.49249999999999,
 31.5975,
 26.1175,
 45.887499999999996,
 36.4825,
 37.04,
 34.025,
 30.6,
 26.354999999999997,
 29.0275,
 27.214999999999996,
 26.595,
 19.3525,
 50.872499999999995,
 56.4425,
 51.647499999999994,
 31.61,
 74.30250000000001,
 54.4875,
 32.6225,
 38.94499999999999,
 34.335,
 34.685,
 46.029999999999994,
 36.595,
 42.595,
 54.2775,
 49.345,
 36.95,
 55.19,
 38.122499999999995,
 39.8025,
 44.09,
 36.5025,
 27.725,
 51.2325,
 32.03,
 30.379999999999995,
 43.05,
 31.660000000000004,
 33.025,
 40.8575,
 28.307499999999997,
 31.714999999999996,
 44.8575,
 24.984999999999996,
 38.9725,
 21.4975,
 28.402500000000003,
 26.847499999999997,
 37.835,
 57.1875,
 46.6925,
 44.37,
 42.8125,
 28.285,
 39.6325,
 65.91,
 42.662499999999994,
 49.7325,
 48.1575,
 30.5025,
 43.5175,
 38.872499999999995,
 33.212500000000006,
 36.12,
 38.927499999999995,
 65.525,
 46.6925,
 43.905,
 66.5125,
 40.6275,
 28.359999999999996,
 26.89,
 53.9075,
 47.817499999999995,
 60.725,
 48.83,
 43.705000000000005,
 52.512499999999996,
 46.8425,
 57.957499999999996,
 28.337500000000002,
 28.39,
 39.589999999999996,
 36.95,
 49.9625,
 45.63,
 43.6725,
 34.2925,
 28.4825,
 58.56999999999999,
 26.3675,
 70.6475,
 34.9525,
 37.727500000000006,
 19.6675,
 22.7125,
 25.5825,
 10.977500000000001,
 43.3525,
 31.12,
 16.95,
 16.6575,
 12.18,
 23.1275,
 44.94,
 26.665000000000003,
 23.6325,
 35.4625,
 12.4575,
 30.442500000000003,
 35.2775,
 25.445,
 30.79,
 53.8875,
 31.192500000000003,
 18.705,
 19.305,
 28.1675,
 12.005,
 33.165000000000006,
 21.849999999999998,
 21.794999999999998,
 21.675,
 21.794999999999998,
 15.4325,
 13.77,
 27.307499999999997,
 29.0275,
 34.5975,
 34.9675,
 10.822500000000002,
 22.457500000000003,
 29.71,
 16.015,
 29.2175,
 28.979999999999997,
 43.79,
 17.37,
 15.045,
 21.6025,
 32.777499999999996,
 36.1625,
 28.372500000000002,
 33.42,
 56.105,
 28.272499999999997,
 22.985,
 24.870000000000005,
 24.410000000000004,
 20.4225,
 21.32,
 22.895,
 22.295,
 35.7,
 22.895,
 21.84,
 19.252499999999998,
 28.359999999999996,
 23.36,
 26.419999999999998,
 39.607499999999995,
 17.02,
 23.88,
 28.874999999999996,
 31.202499999999997,
 24.3225,
 46.862500000000004,
 21.957500000000003,
 26.4775,
 14.895000000000003,
 27.8675,
 25.39,
 32.620000000000005,
 23.2125,
 27.53,
 24.1375,
 37.36,
 36.747499999999995,
 37.36,
 23.0825,
 40.8925,
 29.5025,
 24.47,
 37.1325,
 22.665,
 25.0325,
 24.6325,
 27.427500000000002,
 17.715,
 18.569999999999997,
 17.18,
 21.165000000000003,
 20.3175,
 25.042500000000004,
 17.009999999999998,
 31.970000000000002,
 21.669999999999998,
 28.232499999999998,
 19.01,
 28.0625,
 27.59,
 22.295,
 23.052500000000002,
 26.165,
 21.085,
 18.615000000000002,
 34.3275,
 19.6375,
 33.7125,
 39.535000000000004,
 34.52,
 34.519999999999996,
 34.519999999999996,
 28.075,
 36.555,
 31.067500000000003,
 21.3925,
 17.88,
 30.04,
 32.625,
 44.235,
 21.1875,
 28.462500000000002,
 33.7525,
 33.752500000000005,
 132.4625,
 25.755000000000003,
 47.44,
 25.21,
 32.777499999999996,
 32.777499999999996,
 12.5825,
 37.1325,
 21.387500000000003,
 18.75,
 36.555,
 39.515,
 40.5125,
 33.305,
 31.7875,
 30.512499999999996,
 38.6975,
 31.927500000000002,
 30.855,
 30.512499999999996,
 30.04,
 34.5575,
 40.85,
 15.16,
 51.3175,
 51.31750000000001,
 36.94,
 29.015,
 31.787499999999998,
 30.5125,
 30.5125,
 22.7675,
 31.41,
 28.052500000000002,
 58.24,
 48.51,
 23.240000000000002,
 58.24,
 27.1375,
 28.462500000000002,
 28.462500000000002,
 28.462500000000002,
 23.240000000000002,
 22.6875,
 25.1875,
 36.075,
 15.7975,
 34.7575,
 46.1375,
 39.977500000000006,
 50.575,
 50.575,
 33.817499999999995,
 34.7575,
 46.1375,
 50.575,
 34.7875,
 34.135000000000005,
 34.135000000000005,
 34.3825,
 33.195,
 30.21,
 34.935,
 33.195,
 50.575,
 50.575,
 22.57,
 30.3125,
 45.405,
 47.2775,
 42.167500000000004,
 41.95,
 46.9225,
 43.6275,
 23.2575,
 15.467499999999998,
 15.57,
 15.502500000000001,
 17.122500000000002,
 32.1025,
 16.9825,
 22.549999999999997,
 17.18,
 31.830000000000002,
 23.0475,
 30.1225,
 34.26,
 22.335,
 25.245,
 24.7825,
 20.2725,
 43.3775,
 19.9125,
 26.279999999999998,
 25.28,
 27.04,
 19.947499999999998,
 28.46,
 30.665,
 31.479999999999997,
 31.3975,
 25.457500000000003,
 38.18749999999999,
 25.8375,
 15.877500000000001,
 32.7925,
 27.66,
 34.364999999999995,
 34.705,
 33.295,
 29.052500000000002,
 27.54,
 27.009999999999998,
 40.74,
 35.287499999999994,
 27.009999999999998,
 27.65,
 34.58,
 27.09,
 31.795,
 35.9775,
 27.027500000000003,
 35.9775,
 27.93,
 28.275,
 28.157500000000002,
 26.400000000000002,
 31.6825,
 26.295,
 22.7375,
 25.3475,
 25.3475,
 27.8775,
 26.405,
 25.902500000000003,
 24.085,
 46.295,
 20.97,
 59.985,
 33.3975,
 26.7425,
 36.745,
 36.94,
 27.875,
 26.4175,
 28.4525,
 37.0425,
 30.082500000000003,
 24.205,
 24.65,
 33.4075,
 21.835,
 25.925,
 29.207499999999996,
 32.394999999999996,
 29.154999999999994,
 25.9425,
 39.485,
 26.997500000000002,
 32.885,
 35.919999999999995,
 27.097500000000004,
 77.70999999999998,
 39.1325,
 28.6,
 82.14999999999999,
 33.322500000000005,
 41.01,
 35.7775,
 31.817500000000003,
 21.37,
 45.480000000000004,
 20.625,
 16.1825,
 15.202500000000002,
 22.37,
 64.80000000000001,
 76.35249999999999,
 70.385,
 43.7475,
 52.1575,
 31.555,
 19.07,
 23.8125,
 40.144999999999996,
 49.64,
 37.6275,
 50.655,
 51.45,
 88.23,
 51.45,
 58.19,
 45.845,
 54.2975,
 58.8825,
 47.5,
 60.4175,
 24.755,
 20.977500000000003,
 22.615,
 43.572500000000005,
 24.67,
 22.652500000000003,
 50.747499999999995,
 46.725,
 51.075,
 36.60000000000001,
 31.075000000000003,
 59.552499999999995,
 46.87,
 41.39,
 43.9975,
 54.302499999999995,
 56.084999999999994,
 24.770000000000003,
 39.722500000000004,
 32.3125,
 21.302500000000002,
 26.487499999999997,
 29.25,
 24.595,
 79.81,
 39.3025,
 56.1275,
 36.970000000000006,
 37.7975,
 36.97,
 54.7775,
 56.1275,
 26.487499999999997,
 26.71,
 25.9975,
 36.43,
 25.71,
 37.36750000000001,
 26.0575,
 24.4575,
 26.0425,
 23.165000000000003,
 33.5775,
 33.07,
 26.7025,
 24.235,
 25.5925,
 23.534999999999997,
 27.2075,
 44.0325,
 26.987499999999997,
 33.1325,
 27.180000000000003,
 30.5625,
 25.145,
 26.4675,
 38.3375,
 50.2675,
 58.150000000000006,
 40.82,
 35.565,
 62.410000000000004,
 25.08,
 36.33,
 27.650000000000002,
 75.11500000000001,
 82.255,
 22.985,
 21.3875,
 46.075,
 53.675000000000004,
 77.2275,
 69.6575,
 31.075,
 70.68,
 25.5925,
 30.6675,
 24.2725,
 28.705,
 26.425,
 27.159999999999997,
 45.21249999999999,
 25.754999999999995,
 16.7525,
 16.7525,
 44.945,
 55.785,
 19.345,
 50.2675,
 25.214999999999996,
 30.1075,
 44.0875,
 47.2575,
 129.6225,
 34.1875,
 15.187499999999998,
 25.632499999999997,
 23.775,
 38.622499999999995,
 47.2575,
 28.384999999999998,
 34.9925,
 26.92,
 26.322499999999998,
 29.9125,
 35.1425,
 19.9075,
 15.975,
 50.92,
 44.0475,
 43.739999999999995,
 67.695,
 52.512499999999996,
 55.144999999999996,
 58.6125,
 44.8775,
 48.835,
 25.595000000000002,
 27.8475,
 48.3875,
 89.88499999999999,
 55.334999999999994,
 49.16,
 61.69,
 45.92999999999999,
 50.09,
 36.72,
 22.155,
 60.835,
 47.8875,
 52.235,
 44.0,
 46.88,
 36.595,
 30.429999999999996,
 34.587500000000006,
 38.144999999999996,
 66.71000000000001,
 99.77999999999999,
 94.02,
 70.755,
 74.605,
 45.19,
 37.49,
 37.49,
 35.0225,
 27.182499999999997,
 50.4825,
 37.794999999999995,
 24.825,
 67.0675,
 22.6625,
 29.605,
 62.2125,
 74.0625,
 60.215,
 97.775,
 69.335,
 62.5,
 89.5125,
 108.69,
 68.5675,
 61.22,
 67.17999999999999,
 73.3825,
 65.5475,
 71.58,
 89.55,
 122.93,
 40.845,
 35.205,
 52.754999999999995,
 57.7525,
 65.73,
 80.9575,
 79.0375,
 132.0475,
 90.0075,
 78.6225,
 47.97,
 61.57,
 75.03999999999999,
 96.76,
 55.592499999999994,
 76.6275,
 92.5475,
 100.765,
 70.63499999999999,
 81.41499999999999,
 71.715,
 71.715,
 72.9275,
 70.5625,
 94.06,
 79.37,
 93.535,
 82.36500000000001,
 55.71,
 78.2925,
 73.66,
 67.9375,
 69.7875,
 63.625,
 89.72999999999999,
 51.385,
 67.315,
 65.96000000000001,
 77.64000000000001,
 60.3075,
 74.8125,
 52.305,
 26.0075,
 27.18,
 22.107499999999998,
 34.675,
 20.59,
 27.1075,
 28.005000000000003,
 25.957500000000003,
 46.985,
 55.1625,
 60.59,
 51.4775,
 51.4775,
 51.4775,
 46.7025,
 32.81,
 52.6675,
 36.875,
 31.955000000000002,
 18.2175,
 36.585,
 36.585,
 45.1925,
 58.7575,
 50.3575,
 54.2,
 43.43000000000001,
 55.275000000000006,
 57.625,
 45.515,
 43.11749999999999,
 56.4125,
 68.11500000000001,
 75.0425,
 68.115,
 39.1325,
 31.43,
 43.455,
 50.6975,
 48.3125,
 41.41,
 39.4375,
 44.6775,
 52.065,
 39.4375,
 43.455,
 39.4375,
 39.7625,
 40.85999999999999,
 47.870000000000005,
 33.04,
 39.4375,
 48.222500000000004,
 44.834999999999994,
 47.445,
 55.3775,
 58.315000000000005,
 32.54,
 38.17,
 36.7725,
 44.64,
 35.765,
 47.445,
 45.005,
 61.287499999999994,
 50.1725,
 46.287499999999994,
 46.277499999999996,
 63.7575,
 48.3875,
 43.095,
 46.7275,
 31.545,
 22.8275,
 13.902500000000002,
 15.680000000000001,
 15.16,
 15.16,
 15.43,
 15.680000000000003,
 25.1875]

In [28]:
rmse = mean_squared_error(x_new,r, squared = False)

In [29]:
rmse
#45.74-12 neighbors
#32.98-7 neighbors
#29.15-5 neighbors
#42.75-4 neighbors
#35.16-3 neighbors
#33.48-2 neighbors

33.4873894813424